<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Dear <%= @username %>,</h3>

    <p style="text-indent: 50px;">
      I announce you, that your task "<%= @title %>" has been completed.
    </p>

    <p>
      Have a nice day!
    </p>
  </body>
</html>
