<div class='container' ng-init='search_task(); users(); categories()' ng-show="visible">
  <div class="page-header">
    <h1>Edit: {{fixed_title}}</h1>
  </div>

  <div class='col-md-6 col-md-offset-1'>
    <form ng-submit='edit()'>
      <table class='table table-hover table-bordered'>
        <tr>
          <td>
            Title:
          </td>
          <td>
            <input type='string' ng-model='task.title' class="form-control" required>
          </td>
        </tr>
        <tr>
          <td>
            Description:
          </td>
          <td>
            <input type='text' ng-model='task.description' class="form-control" required>
          </td>
        </tr>
        <tr>
          <td>
            Completed:
          </td>
          <td>
            <input type='range' min='0' max='100' ng-model='task.completed' class="form-control" required>
          </td>
        </tr>
        <tr>
          <td>
            User:
          </td>
          <td>
            {{fixed_user.username}}
            <select ng-model='task.user' ng-options="user.username for user in users" value="{{user.username}}"></select>
          </td>
        </tr>
        <tr>
          <td>
            Category:
          </td>
          <td>
            {{fixed_category.name}}
            <select ng-model='task.category' ng-options="category.name for category in categories" value="{{category.name}}"></select>
          </td>
        </tr>
      </table>
      <div class='btn-group'>
        <input type='submit' class='btn btn-default' value='Submit'>
        <a ng-click='$back()' class='btn btn-default' ng-controller='AppCtrl'>Back</a>
      </div>
    </form>
  </div>
</div>
