<div class="container margin-navbar" ng-init='active_tasks()'>
  <ul class="nav nav-tabs">
    <li class='active' id='active_tasks'>
      <a ng-click="active_tasks()" href=''>Active</a>
    </li>
    <li id='inactive_tasks'>
      <a ng-click="inactive_tasks()" href=''>Finished</a>
    </li>
  </ul>

  <div class="tab-content">
    <div id="tab_active_tasks" class="tab-panel">
      <br>
      <div class='table-responsive'>
        <table class='table table-hover table-bordered'>
          <thead>
            <tr>
              <th>
                No.
              </th>
              <th>
                Title
              </th>
              <th>
                Description
              </th>
              <th>
                Completed
              </th>
              <th>
                Category
              </th>
              <th class='text-right'>
                Actions
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="task in tasks | orderBy: status">
              <td>
                {{$index + 1}}.
              </td>
              <td>
                <a href="#/tasks/{{task[0].id}}">{{task[0].title}}</a>
              </td>
              <td>
                {{task[0].description}}
              </td>
              <td>
                <div class="progress">
                 <div class="progress-bar" role="progressbar" aria-valuenow="{{task[0].completed}}"
                 aria-valuemin="0" aria-valuemax="100" style="width:{{task[0].completed}}%">
                   {{task[0].completed}}%
                 </div>
                </div>
              </td>
              <td ng-show="task[1]">
                {{n[1]}}
              </td>
              <td class="text-center" ng-hide="task[1]">
                -
              </td>
              <td class='text-right'>
                <a href="#/tasks/{{task[0].id}}" class='btn btn-info btn-xs'>Show</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div id="tab_inactive_tasks" class="tab-panel">
      <br>
      <div class='table-responsive'>
        <table class='table table-hover table-bordered'>
          <thead>
            <tr>
              <th>
                No.
              </th>
              <th>
                Title
              </th>
              <th>
                Description
              </th>
              <th>
                Completed
              </th>
              <th>
                Category
              </th>
              <th class='text-right'>
                Actions
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="task in tasks | orderBy: status">
              <td>
                {{$index + 1}}.
              </td>
              <td>
                <a href="#/tasks/{{task[0].id}}">{{task[0].title}}</a>
              </td>
              <td>
                {{task[0].description}}
              </td>
              <td>
                <div class="progress">
                 <div class="progress-bar" role="progressbar" aria-valuenow="{{task[0].completed}}"
                 aria-valuemin="0" aria-valuemax="100" style="width:{{task[0].completed}}%">
                   {{task[0].completed}}%
                 </div>
                </div>
              </td>
              <td ng-show="task[1]">
                {{n[1]}}
              </td>
              <td class="text-center" ng-hide="task[1]">
                -
              </td>
              <td class='text-right'>
                <a href="#/tasks/{{task[0].id}}" class='btn btn-primary btn-xs'>Show</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
