<div class='container' ng-init='users()'>
  <div class="page-header">
    <h1>
      New task
    </h1>
  </div>

  <div class='col-md-6 col-md-offset-1'>
    <form ng-submit='new()'>
      <table class='table table-hover table-bordered'>
        <tr>
          <td>
            Title:
          </td>
          <td>
            <input type='string' ng-model='task.title' class="form-control" required>
          </td>
        </tr>
        <tr>
          <td>
            Description:
          </td>
          <td>
            <input type='text' ng-model='task.description' class="form-control" required>
          </td>
        </tr>
        <tr>
          <td>
            Completed:
          </td>
          <td>
            <input type='range' min='0' max='100' defaultValue='0' ng-model='task.completed' class="form-control" required >
          </td>
        </tr>
        <tr>
          <td>
            User:
          </td>
          <td>
            {{username}}
            <select ng-model="task.user_id" ng-options="user.username for user in users" ng-change="selected()"></select>
            <input type="number" value="{{user_id}}" hidden>
          </td>
        </tr>
      </table>
      <div class='btn-group'>
        <input type='submit' class='btn btn-default' value='Submit'>
        <a href="#/tasks" class='btn btn-default'>Back</a>
      </div>
    </form>
  </div>
</div>
