<div class='container' ng-init='show()' ng-show="visible">
  <div class="page-header">
    <h1>{{task.title}}</h1>
  </div>

  <table class='table table-hover table-bordered'>
    <tr>
      <td class='col-md-2'>
        Description:
      </td>
      <td>
        {{task.description}}
      </td>
    </tr>
    <tr>
      <td class='col-md-2'>
        Status:
      </td>
      <td>
        {{task.status}}
      </td>
    </tr>
    <tr>
      <td class='col-md-2'>
        Completed in:
      </td>
      <td>
        <div class="progress">
         <div class="progress-bar" role="progressbar" aria-valuenow="{{task.completed}}"
         aria-valuemin="0" aria-valuemax="100" style="width:{{task.completed}}%">
           {{task.completed}}%
         </div>
        </div>
      </td>
    </tr>
    <tr ng-show="user">
      <td class='col-md-2'>
        Is assigned to:
      </td>
      <td>
        {{user.username}}, {{user.email}}
        <div ng-show="user_tasks">
          <div ng-repeat="task in user_tasks">
            {{index + 1}}. {{task.title}}
          </div>
        </div>
      </td>
    </tr>
  </table>

  <a href="#/tasks" class="btn btn-default" ng-hide="back_url">Back</a>
  <a href="{{back_url}}" class="btn btn-default" ng-show="back_url">Back</a>
</div>
