<div class='container' ng-init='tasks()' ng-show="visible">
  <div class="page-header">
    <h1>
      <span>Tasks</span>
      <span class='right'>
        <div class="btn-group">
          <a href="#/tasks/new" class="btn btn-default">Create new task</a>
          <a href="#/categories" class="btn btn-default">Categories</a>
        </div>
      </span>
    </h1>
  </div>

  <div class='table-responsive'>
    <table class='table table-hover table-bordered'>
      <thead>
        <tr>
          <th>
            No.
          </th>
          <th>
            Title
          </th>
          <th>
            Description
          </th>
          <th>
            Status
          </th>
          <th>
            Completed
          </th>
          <th>
            Category
          </th>
          <th class='text-right'>
            Actions
          </th>
        </tr>
      </thead>
      <!-- <tbody>
        <tr ng-repeat="task in tasks | orderBy: status">
          <td>
            {{$index + 1}}.
          </td>
          <td>
            <a href="#/tasks/{{task.id}}">{{task.title}}</a>
          </td>
          <td>
            {{task.description}}
          </td>
          <td>
            {{task.status}}
          </td>
          <td>
            <div class="progress">
             <div class="progress-bar" role="progressbar" aria-valuenow="{{task.completed}}"
             aria-valuemin="0" aria-valuemax="100" style="width:{{task.completed}}%">
               {{task.completed}}%
             </div>
            </div>
          </td>
          <td ng-show="task.category">
            {{task.category.name}}
          </td>
          <td class="text-center" ng-hide="task.category">
            -
          </td>
          <td class='text-right'>
            <a href="#/tasks/{{task.id}}" class='btn btn-info btn-xs'>Show</a>
            <a href="#/edit_task/{{task.id}}" class='btn btn-primary btn-xs'>Edit</a>
            <a ng-click="destroy(task, $index)" class='btn btn-danger btn-xs'>Delete</a>
          </td>
        </tr>
      </tbody> -->

      <tbody>
        <tr ng-repeat="n in tasks | orderBy: status">
          <td>
            {{$index + 1}}.
          </td>
          <td>
            <a href="#/tasks/{{n[0].id}}">{{n[0].title}}</a>
          </td>
          <td>
            {{n[0].description}}
          </td>
          <td>
            {{n[0].status}}
          </td>
          <td>
            <div class="progress">
             <div class="progress-bar" role="progressbar" aria-valuenow="{{n[0].completed}}"
             aria-valuemin="0" aria-valuemax="100" style="width:{{n[0].completed}}%">
               {{n[0].completed}}%
             </div>
            </div>
          </td>
          <td ng-show="n[1]">
            {{n[1]}}
          </td>
          <td class="text-center" ng-hide="n[1]">
            -
          </td>
          <td class='text-right'>
            <a href="#/tasks/{{n[0].id}}" class='btn btn-info btn-xs'>Show</a>
            <a href="#/edit_task/{{n[0].id}}" class='btn btn-primary btn-xs'>Edit</a>
            <a ng-click="destroy(n[0], $index)" class='btn btn-danger btn-xs'>Delete</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
