<div class='container' ng-init="index()" ng-show="visible">
  <div class="page-header">
    <h1>
      <span>Users</span>
      <span class='right'>
        <a href="#/users/new" class="btn btn-default">Create new user</a>
      </span>
    </h1>
  </div>
  <div class='table-responsive'>
    <table class='table table-hover table-bordered'>
      <thead>
        <tr>
          <th>
            No.
          </th>
          <th>
            Email
          </th>
          <th>
            Username
          </th>
          <th>
            Registered at
          </th>
          <th class='text-right'>
            Actions
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in users">
          <td>
            {{$index + 1}}.
          </td>
          <td>
            <a href="#/users/{{user.id}}">{{user.email}}</a>
          </td>
          <td>
            {{user.username}}
          </td>
          <td>
            {{user.created_at | date:'yyyy-MM-dd'}}
          </td>
          <td class='text-right'>
            <a href="#/users/{{user.id}}" class='btn btn-info btn-xs'>Show</a>
            <a href="#/edit_user/{{user.id}}" class='btn btn-primary btn-xs'>Edit</a>
            <a ng-click="destroy(user, $index)" class='btn btn-danger btn-xs'>Delete</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
