<!DOCTYPE html>
<html>
<head>
  <title>TodoList</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app='todoList' ng-controller='MainCtrl'>
  <div>
    {{home}}
  </div>
</body>
</html>
